.about{
    padding: 1rem 0;
    background-color: #e9e9e9;
}
.about__img{
    width: 50%;
}
.about__content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__content h2{
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 0;
}
.about__content p{
    padding: 0.5rem 0;
    font-size: 1.2rem;
}
.about__button{
    padding: 0.5rem 0;
    width: 200px;
}

@media (max-width: 1024px) {
    .about__img{
        width: 100%;
    }
    .about__content{
        width: 100%;
    }
}